# 1

In [ ]:
'''
A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
A database is usually controlled by a database management system (DBMS).
Together, the data and the DBMS, along with the applications that are associated with them,
are referred to as a database system, often shortened to just database.


SQL ------------->
SQL, which stands for “Structured Query Language,” is the programming language that’s been widely
used in managing data in relational database management systems (RDBMS)
 One table record may link to one other or to many others, or many table records may be related to many records in another table.
 These relational databases, which offer fast data storage and recovery, can handle great amounts of data and complex SQL queries.

NOSQL------------>
Unlike SQL, NoSQL systems allow you to work with different data structures within a database. 
Because they allow a dynamic schema for unstructured data, there’s less need to pre-plan and pre-organize data,
and it’s easier to make modifications. NoSQL databases allow you to add new attributes and fields, as well as use varied syntax across databases.
NoSQL databases scale better horizontally, which means one can add additional servers or nodes as needed to increase load.
'''

# 2

In [ ]:
'''
In the context of SQL,
data definition or data description language is a syntax for creating and modifying database objects such as tables, indices, and users. 

CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
DROP: This command is used to delete objects from the database.
ALTER: This is used to alter the structure of the database.
TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
'''

# 3

In [ ]:
'''
The SQL commands that deals with the manipulation of data present in the database belong to DML 
or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL 
statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

INSERT : It is used to insert data into a table.
UPDATE: It is used to update existing data within a table.
DELETE : It is used to delete records from a database table
'''

# 4

In [ ]:
'''
DQL statements are used for performing queries on the data within schema objects. 
The purpose of the DQL Command is to get some schema relation based on the query passed to it.
We can define DQL as follows it is a component of SQL statement that allows getting data from the
database and imposing order upon it. It includes the SELECT statement. 
This command allows getting the data out of the database to perform operations with it.
When a SELECT is fired against a table or tables the result is compiled into a further temporary table,
which is displayed or perhaps received by the program i.e. a front-end.

SELECT: It is used to retrieve data from the database.
'''

# 5

In [ ]:
'''
A primary key is a field or set of fields in a database table that uniquely identifies each record in that table. 
It is a column or a group of columns that are designated as the main identifier of a record, and it must have a 
unique value for each row in the table. Primary keys are used to enforce data integrity and ensure that each record 
can be uniquely identified and referenced.

A foreign key, on the other hand, is a field or set of fields in one table that refers to the primary key of another table.
It is used to establish a relationship between two tables in a database. The foreign key column in one table must contain
only values that exist in the primary key column of the referenced table. By enforcing referential integrity, 
foreign keys ensure that related data is kept in sync across tables, and prevent orphaned records.
'''

# 6

In [ ]:
import mysql.connector

# establish connection to MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create cursor object
mycursor = mydb.cursor()

# execute query
mycursor.execute("SELECT * FROM yourtable")

# fetch all rows from the query result
myresult = mycursor.fetchall()

# print the rows
for row in myresult:
  print(row)

'''
we create a cursor object using the cursor() method. A cursor is an object that allows us to execute SQL queries and fetch data from the result set.

We then use the execute() method to execute a query. In this case, we are selecting all rows from a table called yourtable.
'''

# 6

In [ ]:
'''
In an SQL query, the order of execution of SQL clauses is as follows:

FROM clause: This clause specifies the table or tables from which the data is to be retrieved.

JOIN clause: This clause is used to combine rows from two or more tables based on a related column between them.

WHERE clause: This clause is used to filter the rows returned by the query based on one or more conditions.

GROUP BY clause: This clause is used to group the rows based on one or more columns.

HAVING clause: This clause is used to filter the groups returned by the query based on one or more conditions.

SELECT clause: This clause specifies the columns to be returned in the result set.

DISTINCT clause: This clause is used to remove duplicates from the result set.

ORDER BY clause: This clause is used to sort the rows in the result set based on one or more columns.

LIMIT clause: This clause is used to limit the number of rows returned by the query.
'''