## 1

In [ ]:
'''
for loop is used when the number of iterations is known , has no condition , just iterate over a given iterable.
eg to print numbers from 1 to 10 using for loop
for i in range(1,11):
    print(i)
    
while is used when the number of iterations is not known. In case of no condition, the loop is repeated infinite times.
so giving termination condition is necessary
eg printing numbers from 1 to 10
i = 1
while i<11:
    print(i)

'''

## 2

In [1]:
# using for loop

sum = 0
product = 1
for i in range(1,11):
    sum += i
    product*=i
print(f"sum: {sum} , product:{product}")

sum: 55 , product:3628800

In [2]:
# using while loop

sum = 0
product = 1
i = 1
while i < 11:
    sum += i
    product*=i
    i+=1
print(f"sum: {sum} , product:{product}")

sum: 55 , product:3628800

## 3

In [4]:
units = int(input('enter units'))

if units<101:
    print('bill is ',units*4.5)
elif units<201:
    bill = 450 + (units-100)*6
    print(f'bill is {bill}')
elif units<301:
    bill = 450 + 600 + (units-200)*10
    print(f'bill is {bill}')
else:
     bill = 450 + 600 + 1000 + (units-300)*20
     print(f'bill is {bill}')

enter units 310

bill is 2250

## 4

In [5]:
# using for loop

list = [i for i in range(1,101) if (i**3) % 4==0 or (i**3) % 5==0]
list

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [10]:
# using for loop

list = []
i = 1
while i < 101:
    if (i**3) % 4==0 or (i**3) % 5==0:
        list.append(i)
    i+=1
list

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

## 5

In [12]:
string = "I want to become a data scientist"
vowels = []
for i in string:
    if i.lower() in ['a','e','i','o','u']:
        vowels.append(i)
print(vowels)
print('no of vowels in string is ',len(vowels))

['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
no of vowels in string is  12