In [1]:
import pandas as pd

series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
data = {
    'name': ['alice', 'bob', 'claire'],
    'age': [25, 30, 27],
    'gender': ['f', 'm', 'f']
}

df = pd.DataFrame(data)
print(df)

     name  age gender
0   alice   25      f
1     bob   30      m
2  claire   27      f

In [6]:
'''
A Pandas DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
It is essentially a table with rows and columns, where each column can be thought of as a Pandas Series.
The main difference between a Pandas Series and a DataFrame is that a Series is a one-dimensional labeled
array while a DataFrame is a two-dimensional labeled array
'''

# df we created above is a dataframe
print(df)
print('\n')
#if we select a single row or colum  from it , thst will be series
print(df['name'])

     name  age gender
0   alice   25      f
1     bob   30      m
2  claire   27      f


0     alice
1       bob
2    claire
Name: name, dtype: object

In [ ]:
'''
head() and tail(): these functions allow you to see the first or last n rows of a DataFrame.
For example, df.head() will show the first 5 rows of the DataFrame df.
describe(): this function generates descriptive statistics about the DataFrame, including count, mean,
standard deviation, minimum, maximum, and quartiles
 .columns which returns names of the column headers in the df
'''

In [ ]:
'''
all of them are mutable
'''

In [ ]:
'''
You can create a DataFrame using multiple Series by passing a dictionary of Series objects to the DataFrame constructor. 
Each Series will become a column in the DataFrame
'''
import pandas as pd

names = pd.Series(['John', 'Jane', 'Sally'])
ages = pd.Series([25, 30, 21])
countries = pd.Series(['USA', 'Canada', 'Australia'])

data = {'name': names, 'age': ages, 'country': countries}
df = pd.DataFrame(data)

print(df)