## 1

In [3]:
marks = int(input('enter marks: '))
if marks > 90:
    print('grade A')
elif marks>80 and marks<=90:
    print('grade B')
elif marks>60 and marks<=80:
    print('grade C')
else:
    print('grade D')

enter marks:  85

grade B

## 2

In [4]:
cp = int(input('enter cost price: '))
if cp > 100000:
    print('tax 15%')
elif cp>50000 and cp<=100000:
    print('tax 10%')
else:
    print('tax 5%')

enter cost price:  76000

tax 10%

## 3

In [6]:
city = input('enter city: ')
if city.lower() == 'delhi':
    print('red fort')
elif city.lower() == 'agra':
    print('taj mahal')
elif city.lower() == 'jaipur':
    print('jal mahal')

enter city:  delhi

red fort

## 4

In [11]:
n = int(input('enter number to test'))
count = 0
while n > 10:
    n = n//3
    count+=1
print(count)

enter number to test 30

1

## 5

In [12]:
''' 
With the while loop we can execute a set of statements as long as a condition is true '''

' \nWith the while loop we can execute a set of statements as long as a condition is true '

## 6

In [13]:
n = int(input('no of levels in pattern'))
i = 1
while i <= n:
    print(i * '#')
    i +=1

no of levels in pattern 4

#
##
###
####

In [16]:
n = int(input('no of levels in pattern'))
while n>0:
    print(n * '#')
    n-=1

no of levels in pattern 4

####
###
##
#

In [21]:
n = int(input('no of levels in pattern'))
i = 1
k= 1
while i <= n:
    j=1
    while j<=i:
        print(k,end=" ")
        j+=1
        k+=1
    print('\n')
    i +=1

no of levels in pattern 4

1

2 3

4 5 6

7 8 9 10

## 7 and 8

In [23]:
i = 10
while i >0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1